// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav li {
	display: inline;
	padding: 14px 10px;
}

.nav a{
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
	text-transform: uppercase;
}

.jumbotron {
	background-image: url(https://photos-6.dropbox.com/t/2/AAAbBR2h_X2gQ-8_7ocZPdTbBVyZyAkm6C_wyoIE-tSDeg/12/91040152/jpeg/32x32/1/1437429600/0/2/2015-07-16%2023.36.38.jpg/CJjTtCsgASACIAMgBCAFIAYgBygCKAc/Spcw2F7kA49gNR-tltga25RrKBt8pvG4VQo5T_TlHZk?size=1024x768&size_mode=2);
  background-size:cover;
	display: block;
  height:350px;
}