<div class="container">
  <div class="nav">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">        

          <ul>
            <li><a href="#">Welcome</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm-4">

          <ul>
            <li><a href="#">Blake Howell</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>I am REALLY smart!</h1>
    <a href="#">View my work</a>
  </div>
</div>

<div class="container">
  <div class="footer">
    <ul>
      <li class="facebook"></li>
      <li class="twitter"></li>
    </ul>
    <p>2015 Blake Howell</p>
  </div>
</div>
